<!DOCTYPE html>
<html lang="en" ng-app="personalSite">
<head>
    <meta charset="UTF-8">
    <title>Joshua Sisley</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/homePage.css">

    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>-->
</head>
<body ng-controller="aboutController">
    <nav class="navbar navbar-default navbar-custom-about">
        <div id="bs-example-navbar-collapse-1">
            <div class="col-md-1 logo">
                <a href="/"><span class="j-text">J</span><span class="o-text">o</span><span class="s-text">s</span><span class="h-text">h</span></a>
            </div>
            <div class="col-md-6 col-lg-5 col-sm-12">
                <input type="text" class="form-control pull-left" value="Joshua Sisley" placeholder="Search">
            </div>
            <ul class="nav navbar-nav pull-right navbar-list">
                <li class="name-list">Josh</li>
                <li><a target="_blank" href="https://www.linkedin.com/in/joshua-sisley-12995154">LinkedIn</a></li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-custom-second">
        <div class="col-sm-12">
            <ul class="nav navbar-nav col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-12">
                <li><a ng-class="{activeSection: showExperience}" href ng-click="setExperience()">Experience</a></li>
                <li><a ng-class="{activeSection: showSkills}" href ng-click="setSkills()">Skills</a></li>
                <li><a ng-class="{activeSection: showPhilanthropy}" href ng-click="setPhilanthropy()">Philanthropy</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <div ng-if="showExperience" ng-include src="'templates/experience.html'"></div>
        <div ng-if="showSkills" ng-include src="'templates/skills.html'"></div>
        <div ng-if="showPhilanthropy" ng-include src="'templates/philanthropy.html'"></div>
    </div>
</body>

<script src="js/jquery-1.12.0.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--<script src="js/npm.js"></script>-->
<script src="js/script.js"></script>
<script src="js/aboutController.js"></script>

</html>