<div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-12 experience-section">
    <!--<div>-->
        <!--<h4 class="col-sm-12"><a target="_blank" href="https://www.linkedin.com/in/joshua-sisley-12995154">Joshua Sisley | LinkedIn</a></h4>-->
        <!--<h5 class="col-sm-12">https://www.linkedin.com/in/joshua-sisley-12995154</h5>-->
        <!--<p class="top-line col-sm-12">Panama City Beach, Florida - ‎Software Developer at Jellyfish Health - ‎Jellyfish Health</p>-->
        <!--<p class="col-sm-12">View Joshua Sisley's professional profile on LinkedIn. LinkedIn is the world's largest business network, helping-->
            <!--professionals like Joshua Sisley discover inside ...</p>-->
    <!--</div>-->

    <div class="new-result">
        <h4 class="col-sm-12 non-link">Front End Software Developer - Jellyfish Health</h4>
        <h5 class="col-sm-12">January, 2015 - Present</h5>
        <p class="top-line col-sm-12">Panama City, Florida - Jellyfish Health</p>
        <p class="col-sm-12">Main responsibilities include working with a SPA and using AngularJS as well as HTML, CSS and jQuery to
            create the front end functionality. <b>--</b> This includes making REST API calls to get the information necessary for
            the front end. <b>--</b> Work with the data that is stored in MongoDB to create graphs in the UI
            using chartJS. <b>--</b> Working on developing multiple iPhone apps using Swift and Xcode 7</p>
    </div>

    <div class="new-result">
        <h4 class="col-sm-12 non-link">College Program Intern - The Walt Disney Company</h4>
        <h5 class="col-sm-12">May, 2014 - September, 2014</h5>
        <p class="top-line col-sm-12">Lake Buena Vista, Florida - Walt Disney World Resort</p>
        <p class="col-sm-12">Worked full time with some of the attractions at the Magic Kingdom. <b>--</b> Involved knowing the day to day operations
            and making sure that the attractions were operating safely. <b>--</b> Also involved going backstage and seeing the technology that
            goes into each ride at the park. <b>--</b> I used my spare time to shadow some of the senior IT cast members in the
            parks.</p>
    </div>

    <div class="new-result">
        <h4 class="col-sm-12 non-link">Classroom Technology Assistant - Valparaiso University</h4>
        <h5 class="col-sm-12">January, 2014 - May, 2014</h5>
        <p class="top-line col-sm-12">Valparaiso, Indiana - Valparaiso University</p>
        <p class="col-sm-12">Worked with the College of Nursing Graduate School to ensure that students are able to learn from their homes. <b>--</b>
            I made sure that the program was set up correctly at the beginning of the day and ensured that the Professor and
            students were connected online and could see/hear each other. <b>--</b> Troubleshoot any problems that arise throughout the day
            <b>--</b> Shut down all of the equipment at the end of the day and sent daily report
            to the Manager.</p>
    </div>
</div>

<div class="col-lg-4 col-md-5 col-sm-12 my-info">
    <div class="col-sm-7">
        <h4 class="col-sm-12">Joshua Sisley</h4>
        <h5 class="col-sm-12">Github: <a href="https://github.com/joshsisley" target="_blank">joshsisley</a></h5>
        <h5 class="col-sm-12">Lives in Lynn Haven, FL</h5>
        <div class="col-sm-8">
            <button class="btn btn-default btn-block" ng-click="emailMe = !emailMe">Contact Me</button>
        </div>
    </div>
    <div class="col-sm-5">
        <img src="images/profile.jpg" class="img-responsive img-circle prof-image">
    </div>
</div>

<div ng-show="emailMe" class="col-lg-4 col-md-5 col-sm-12 email-form">
    <form name="contactform" method="post" action="mailer.php">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="inputName" placeholder="Enter Name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">Email</label>
                    <input type="email" name="inputEmail" class="form-control" id="subject" placeholder="Enter Email">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Message</label>
            <textarea class="form-control" name="inputMessage" rows="3"></textarea>
        </div>

        <button type="submit" class="btn tf-btn btn-default">Submit</button>
    </form>
</div>