<div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-12">
    <div class="newSkill row">
        <div class="col-sm-3">
            <img src="images/newAngular.png" class="img-responsive" height="150px" width="100px">
        </div>
        <div class="col-sm-9">
            <h4 class="col-sm-12">AngularJS</h4>
            <p class="col-sm-12">This is one of the skills that I use the most on a daily basis both in and out of work. Currently I use
            it for the projects at my current job, but I am also using it for a fun side project and combining it with
            Meteor.</p>
        </div>
    </div>
    <div class="newSkill row">
        <div class="col-sm-3">
            <img src="images/html.jpg" class="img-responsive" height="150px" width="100px">
        </div>
        <div class="col-sm-9">
            <h4 class="col-sm-12">HTML and HTML5</h4>
            <p class="col-sm-12">As a front end developer, this skill is a everyday necessity for myself. This skill is once again
            used in both my work projects and the fun projects that I work on in my free time.</p>
        </div>
    </div>
    <div class="newSkill row">
        <div class="col-sm-3">
            <img src="images/css.png" class="img-responsive" height="150px" width="100px">
        </div>
        <div class="col-sm-9">
            <h4 class="col-sm-12">CSS and CSS3</h4>
            <p class="col-sm-12">This is one of my favorites (and at times most frustrating) skill set. It is essential to the work
            that a front end developer completes, and is used daily in my projects.</p>
        </div>
    </div>
    <div class="newSkill row">
        <div class="col-sm-3">
            <img src="images/javascript.png" class="img-responsive" height="150px" width="100px">
        </div>
        <div class="col-sm-9">
            <h4 class="col-sm-12">JavaScript</h4>
            <p class="col-sm-12">Another important skill set of mine is JavaScript. This is what turns a boring website into an
            exciting experience for the user.</p>
        </div>
    </div>
    <div class="newSkill row">
        <div class="col-sm-3">
            <img src="images/angular.png" class="img-responsive" height="150px" width="100px">
        </div>
        <div class="col-sm-9">
            <h4 class="col-sm-12">Meteor</h4>
            <p class="col-sm-12">This is one skill that most people have not heard of yet, due to how new it is. However, the deeper I get
            into it the more I love it. Meteor combined with Angular, in my opinion, is one of the best and strongest skill sets that a programmer can
            have.</p>
        </div>
    </div>
    <div class="newSkill row">
        <div class="col-sm-3">
            <img src="images/swift.png" class="img-responsive" height="150px" width="100px">
        </div>
        <div class="col-sm-9">
            <h4 class="col-sm-12">Swift</h4>
            <p class="col-sm-12">More recently I have gotten into designing and developing native iOS apps using Swift. I have found that it is
            much different from all the other programming languages and is definitely not the easiest to pick up. However, once I got the hang
            of it, I believe that it is the way to go when developing iOS apps.</p>
        </div>
    </div>
    <div class="newSkill row">
        <div class="col-sm-3">
            <img src="images/php.jpg" class="img-responsive" height="150px" width="100px">
        </div>
        <div class="col-sm-9">
            <h4 class="col-sm-12">PHP</h4>
            <p class="col-sm-12">Last but not least is good 'ole PHP. While PHP is not one of my most used skill sets, I still use it
            weekly on different web projects.</p>
        </div>
    </div>
</div>